.indexCSS{
    background-color: turquoise;
}

img {
    display:block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5%;
    box-shadow: gray;
}

p {
    font-size: 50pt;
    font-family: fantasy, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    text-align:center;
    font-family: fantasy;
    
}

h2 {
    text-align:center;
    font-family: fantasy;
}

.interview {
    text-align:center;
    display: block;
    color: white
}

h2{
    margin:20px
}
#container{
    margin:auto;
}

.h1{
    background-color: white;
}

.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.topnav a{
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover{
    background-color: black;
    color: white;
}

.h2{
    background-color: white;
}

.ths{
    background-color: white;
}

.thli {
    background-color: white;
}

.directorinter{
    background-color: white;
}